/* Aplicar las directivas de Tailwind para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: #F6C058;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 6px;
  border: 3px solid #F6C058;
}

.dark ::-webkit-scrollbar {
  width: 0.8rem;
}

.dark ::-webkit-scrollbar-track {
background: #4b5563;
}

.dark ::-webkit-scrollbar-thumb {
background-color: #ffffff;
border-radius: 6px;
border: 3px solid #4b5563;
}